body{
    background-color: #FFEEF4;
    transition: 2s ease;
}

body.winner {
	background: linear-gradient(-45deg, #E4E4D0, #AEC3AE, #94A684);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.main {
    max-width: 600px;
    margin:auto;
    padding: 0 5%;
    font-family: sans-serif;
}

.next-random-number {
    font-size: 48px;
    text-align: center;
    margin-bottom: 35px;
    color: #252b1f
}

.buttons-list {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
    width: 350px;
    margin: auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
} 

.button {
    border: none;
    border-radius: 3px;
    font-size: 28px;
    transition:1s ease-out;
    color: #252b1f;
    text-align: center;
    font-weight: bold;
}

.button--available {
    background-color: #E4E4D0;
    cursor: pointer

}

.button--filled {
    background-color: #AEC3AE;
    cursor: not-allowed

}

.button--unavailable {
    background-color: #94A684;
    cursor: not-allowed
}