body {
	background-color: #ffeef4;
	transition: 2s ease;
}

body.winner {
	background: linear-gradient(-45deg, #e4e4d0, #aec3ae, #94a684);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.main {
	width: 90%;
	max-width: 900px;
	margin: auto;
	padding: 0 5%;
	font-family: sans-serif;
}

.next-random-number {
	font-size: 48px;
	text-align: center;
	margin-bottom: 35px;
	color: #252b1f;
}

.buttons-list {
	display: grid;
	grid-template-columns: repeat(3, 80px);
	grid-template-rows: repeat(3, 80px);
	margin: auto;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
    justify-content: center;
}

.button {
	border: none;
	border-radius: 3px;
	font-size: 28px;
	transition: 1s ease-out;
	color: #252b1f;
	text-align: center;
	font-weight: bold;
}

.button--available {
	background-color: #e4e4d0;
	cursor: pointer;
}

.button--filled {
	background-color: #aec3ae;
	cursor: not-allowed;
}

.button--unavailable {
	background-color: #94a684;
	cursor: not-allowed;
}
